---
---

@import 'main';

$accent-color: {{site.cv.accent-color | default: '#3f8ab5'}};
$background-color: {{site.cv.background-color | default: '#fff'}};
$text-color: {{site.cv.text-color | default: '#000'}};
$subtitle-color: {{site.cv.subtitle-color | default: '$text-color'}};
$surtitle-color: {{site.cv.surtitle-color | default: '$accent-color'}};
$updated-color: {{site.cv.surtitle-color | default: '$accent-color'}};
$consent-color: {{site.cv.surtitle-color | default: '$accent-color'}};
$link-color: {{site.cv.link-color | default: '#39f'}};

@page {
  size: A4;
  margin: 20mm;

  /** theese don't work browsers yet **/
  @bottom-left {
    // counter-increment: page;
    // counter-reset: page 1;
    content: counter(page) "/" counter(pages);
  }

  // @bottom-right {
  //   content: {{ page.title }};
  // }
}

.page-break {
  page-break-before: always;
}

h1,
h2,
h3,
h4 {
  page-break-after: avoid;
  page-break-inside: avoid;
}

p {
  page-break-inside: avoid;
}

li,
ul {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
}

#table-of-contents,
#topbar,
#sidebar {
  display: none;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5em;
  font-family: "Abel", sans-serif;

  /* colors */
  color: $text-color;
  background-color: $background-color;

  .accent {
    color: $accent-color;
  }
}

.photo-frame {
  margin-top: 0;
  display: inline-block;
  width: 25%;
  margin: 0;
}

.photo {
  width: 100%;
}

@mixin line {
  margin: 1em 10%;

  &::before,
  &::after,
  &.subtitle {
    display: block;
    font-weight: 200;
    text-align: left;
    font-style: italic;
  }

  /** surtitle **/
  &::before {
    content: attr(surtitle);
    font-size: 14px;
    color: $surtitle-color;
  }

  /** subtitle **/
  &::after {
    content: attr(subtitle);
    font-size: 16px;
    color: $subtitle-color;
  }

  /** subtitle (for links) **/
  &.subtitle {
    margin-top: -1.2em;
    padding-left: 1em;
    font-size: 16px;
    color: $subtitle-color;
  }
}

#markdown-content {
  font-size: 1.2em;

  p {
    @include line;
    line-height: 1.2em;

    /** consent **/
    &.consent {
      margin-top: 4em;
      font-style: italic;
      font-weight: 200;
      font-size: 16px;
      font-weight: 200;
      color: $consent-color;
    }

    /** updated **/
    &.updated {
      text-align: right;
      font-style: italic;
      font-weight: 200;
      font-size: 16px;
      font-weight: 200;
      color: $updated-color;
    }
  }

  h1 {
    @include line;

    margin: 0;
    font-weight: 400;
    text-align: right;
    font-size: 3em;
    line-height: 1;

    display: inline-block;
    width: 74%;
  }

  h2 {
    @include line;

    font-weight: 400;
    font-size: 1.5em;
    color: $accent-color;
  }

  h3,
  h4 {
    @include line;
    font-size: 1.5em;
    font-weight: 400;
  }

  section {
    margin: 2em 0 2em 3em;

    &::before {
      content: attr(id);
      text-transform: capitalize;
      display: block;
      font-weight: 200;
      text-align: left;
      margin: 0 0 1em 28%;
      font-size: 1.5em;
      color: $accent-color;
    }
  }

  li {
    margin: 1em 12%;

    &::marker {
      content: "- ";
      color: $accent-color;
      font-weight: 600;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
