<!DOCTYPE html>
<html lang="{{page.lang}}">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{site.baseurl}}/assets/js/scroll-spy.js"></script>
    <link href="{{site.baseurl}}/assets/styles/magnolia/screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="{{site.baseurl}}/assets/styles/magnolia/print.css" type="text/css" rel="stylesheet" media="print">
    <title>Curriculum Vitae {{page.title}}</title>
</head>

<body>
    <header id="toolbar">
        <div class="btn-group">
            <div>
                {% include lang_buttons.html languages=site.cv.languages %}
            </div>
            {% include pdf_button.html page=page %}
        </div>
    </header>

    <main id="markdown-content">
        <div class="photo-frame">
            <img class="photo" src="{{site.baseurl}}/assets/img/photo.jpg" alt="photo" width="25%">
            <h1>{{page.title}}</h1>
        </div>
        {{ content }}
    </main>

    <nav id="table-of-contents">
        <div class="btn-group">
            {% include lang_buttons.html languages=site.cv.languages %}
            {% include pdf_button.html page=page %}
        </div>
        {{ content | toc_only }}
    </nav>
</body>

</html>