<!DOCTYPE html>
<html lang="{{page.lang}}">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../assets/js/scroll-spy.js"></script>
    <link href="../assets/styles/magnolia/screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="../assets/styles/magnolia/print.css" type="text/css" rel="stylesheet" media="print">
    <title>Curriculum Vitae {{page.title}}</title>
</head>

<body>
    <header id="toolbar">
        <div class="btn-group">
            <div>
                {% for lang in site.cv.languages %}
                <button class="icon-btn flag-{{lang}}"
                    onclick="window.location.pathname = window.location.pathname.replace('{{page.lang}}', '{{lang}}')"></button>
                {% endfor %}
            </div>

            {% if page.static_pdf %}
            <a class="icon-btn pdf-icon" href="./{{page.pdf_name}}.pdf" download></a>
            {% else %}
            <button class="icon-btn pdf-icon" onclick="document.title = '{{page.pdf_name}}'; window.print()"></button>
            {% endif %}
        </div>
    </header>

    <main id="markdown-content">
        <div class="photo-frame">
            <img class="photo" src="../assets/img/photo.jpg" alt="photo" width="25%">
            <h1>{{page.title}}</h1>
        </div>
        {{ content }}
    </main>

    <nav id="table-of-contents">
        <div class="btn-group">
            {% for lang in site.cv.languages %}
            <button class="icon-btn flag-{{lang}}"
                onclick="window.location.pathname = window.location.pathname.replace('{{page.lang}}', '{{lang}}')"></button>
            {% endfor %}

            {% if page.static_pdf %}
            <a class="icon-btn pdf-icon" href="./{{page.pdf_name}}.pdf" download></a>
            {% else %}
            <button class="icon-btn pdf-icon" onclick="document.title = '{{page.pdf_name}}'; window.print()"></button>
            {% endif %}
        </div>
        {{ content | toc_only }}
    </nav>
</body>

</html>